endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=mysql-mariadb-19-104.zap-hosting.com;database=zap647659-2;userid=zap647659-2;password=12MmCvrHLgbkCWNd"

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure LosSantos
ensure hardcap
ensure rconlog
ensure mysql-async
ensure [auticka]
ensure vMenu

sv_scriptHookAllowed 1

#rcon_password ""
sets Game type "Drift"
sets Discord "https://dsc.gg/jdmdrift"
sets Web "https://jdmdrift.cz"
sets tags "drift, races, zavody, timetrial, timetrials, race, jdm, nissan, toyota, supra, forza, horizon"

sets locale "cs-CZ" 

sets banner_detail "https://i.imgur.com/FZEFqkJ.png"
sets banner_connecting "https://i.imgur.com/G3i4y7F.png"
sets activitypubFeed @jdmdrift@mstdn.social

# Set your server's hostname
sv_hostname "[CZ/SK] 🎌JDM DRIFT🎌 ⋙ 🚗💨DRIFT/RACES ⋙ ✔️OPTIMALIZACE ⋙ ㊙️JDM AUTA ⋙ 🔉dsc.gg/jdmdrift ⋙ Forza Horizon Inspired"

exec resources.cfg
exec permissions.cfg

load_server_icon logo.png

#set temp_convar "hey world!"

#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:1100001185fd631 group.admin # add the admin to the group

set onesync on

sv_maxclients 48

set steam_webApiKey "FF69C45D1F29E9DD5545128D5085CEE8"

sv_licenseKey m6h13xozou1l7xxheqdi79q6a9uxxv99